@model IEnumerable<Michael.Data.Era>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />


<div class=" col-md-6">
    <hr />
    <hr />

    <h3>Era Index</h3>


    <p>


    <p>
        @Html.ActionLink("Add an Era", "Create")
    </p>


    <div class=" table-bordered">
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.EraName)
                </th>
                <th></th>
            </tr>

            @foreach (var era in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => era.EraName)
                    </td>

                    <td>
                        @Html.ActionLink("Add an Album", "Create", "Album")
                        @Html.ActionLink("Modify", "Edit", new { id = era.EraId })
                        @Html.ActionLink("Details", "Details", new { id = era.EraId })
                        @Html.ActionLink("Delete", "Delete", new { id = era.EraId })

                    </td>
                </tr>
            }
        </table>
    </div>
</div>


<div class="col-md-6">
    <img src="~/Assets/community_image_1425065305.gif" style="width:600px; height:500px;" alt="" class="container_img" />
</div>









