@model IEnumerable<Michael.Data.Album>
@{
    ViewBag.Title = "AlbumIndex";
}
    
<h3>All Albums</h3>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div class=" col-md-8">
    <p>
        @Html.ActionLink("Add an Album", "Create")
    </p>

    <table class="table">
        <tr>
            <th>Era</th>
            <th>Title</th>
            <th>Description</th>

        </tr>
        @foreach (var album in Model)
        {
            <tr>
                <td>@album.Category.EraName</td>
                <td>@album.Title</td>

                <td>
                    @Html.ActionLink("Add a Song", "Create", "Song")
                    @Html.ActionLink("Modify", "Edit", new { id = album.AlbumId })
                    @Html.ActionLink("Details", "Details", new { id = album.AlbumId })
                    @Html.ActionLink("Delete", "Delete", new { id = album.AlbumId })
                </td>
            </tr>
        }
    </table>
    </div>

<div class="col-md-4" id="album">

    <img src="~/Assets/moonwalk.gif" />

</div>


   
  

