@model Michael.Models.Songs.SongDetail

@{
    ViewBag.Title = "Details";
}

<h2><i><b> @Html.DisplayFor(model => model.Title)</b></i></h2>
<h3>Song Detail</h3>

<div class=" col-md-6">


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SongId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
<div class=" col-md-6">
    <img src="~/Assets/StFelix-Michael-Jackson.jpg" style=" height:600px; width:450px;" />

</div>