@model IEnumerable<Michael.Data.Song>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link href="~/Content/Song.css" rel="stylesheet" type="text/css" />

<h2>Full Discography</h2>
<p> Jackson 5 to Invicible @Html.ActionLink("Contact us to recommend any changes", "Contact", "Home") </p>

<table class="table">
    <tr>
        <th>Album</th>
        <th>Title</th>
        

    </tr>
    @foreach (var song in Model)
    {
        <tr>
            <td>@song.Category.Title</td>
            <td>@song.Title</td>
            
            <td>
                
                @Html.ActionLink("Modify", "Edit", new { id = song.SongId })
                @Html.ActionLink("Details", "Details", new { id = song.SongId })
                @Html.ActionLink("Delete", "Delete", new { id = song.SongId })
            </td>
        </tr>
    }
</table>
